<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.ItemDAO">
    <select id="updateInventoryQuantity">
UPDATE INVENTORY SET QTY = QTY - ${increment} WHERE ITEMID = ${itemId}
    </select>

    <select id="getInventoryQuantity" parameterType="java.lang.String" resultType="int">
SELECT QTY AS value FROM INVENTORY WHERE ITEMID = #{_parameter}
    </select>

    <select id="getItemListByProduct" parameterType="java.lang.String" resultType="domain.Item">
SELECT I.ITEMID,LISTPRICE,UNITCOST,SUPPLIER AS supplierId,I.PRODUCTID AS product.productId,NAME AS product.name,DESCN AS product.description,CATEGORY AS product.categoryId,STATUS,ATTR1 AS attribute1,ATTR2 AS attribute2,ATTR3 AS attribute3,ATTR4 AS attribute4,ATTR5 AS attribute5 FROM ITEM I, PRODUCT P WHERE P.PRODUCTID = I.PRODUCTID AND I.PRODUCTID = #{_parameter}
    </select>

    <select id="getItem" parameterType="java.lang.String" resultType="domain.Item">
select" +
            " I.ITEMID," +
            "LISTPRICE," +
            "UNITCOST," +
            "SUPPLIER AS supplierId," +
            "I.PRODUCTID AS product.productId," +
            "NAME AS product.name," +
            "DESCN AS product.description," +
            "CATEGORY AS product.categoryId," +
            "STATUS," +
            "ATTR1 AS attribute1," +
            "ATTR2 AS attribute2," +
            "ATTR3 AS attribute3," +
            "ATTR4 AS attribute4," +
            "ATTR5 AS attribute5," +
            "QTY AS quantity" +
            " from ITEM I, INVENTORY V, PRODUCT P" +
            " where P.PRODUCTID = I.PRODUCTID" +
            " and I.ITEMID = V.ITEMID" +
            " and I.ITEMID = #{_parameter}
    </select>
</mapper>